.item.active {
    height: 500px;
    cursor: pointer;
}
@media (max-width: 700px){
    .item.active {
        height: 320px;
    }
}
@media (max-width: 466px){
    .item.active {
        height: 200px;
    }
}
.carousel-caption.d-none.d-md-block {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.carousel-caption.d-none.d-md-block p {
    color: white;
}