.knowledge {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.knowledge h1{
    text-align: center;
}
.skills {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}
.skills img {
    width: 150px;
    margin: 20px;
}
p{
    padding: 10px;
    text-align: center;
}